@import '~muicss/lib/sass/mui/colors';
$mui-primary-color:       $primary;
$mui-primary-color-dark:  $primaryDark;
$mui-primary-color-light: $primaryLight;
$mui-accent-color:        $accent;
$mui-accent-color-dark:   $accentDark;
$mui-accent-color-light:  $accentLight;
@import '~muicss/lib/sass/mui';

.preset-search-dropdown-override > button.mui-btn {
  margin: 0;
  border-radius: 0;
  height: 16px;
  line-height: 16px;
  background-color: white;
}

.tabLabel-override > .mui-tabs__bar a {
  height: 62px;
  line-height: 62px;
}

